@media screen and  (min-width:1501px)  {
    .column {
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
    .container{
      margin-left: -50px;
      width: 1000px !important;
      height: 350px !important;
  } 
  
  .pokemom{
      width: 160px;
      height: 130px;
      padding: 10px;
      border-radius:10px ;
      text-align: center;
      background-color: #F2F2F2 !important;
     
      img{
         height: 120px;
      }
  }
  .list{
      margin-bottom: 50px;
  }
  .number{
      color:#c7c6c6;
      font-size: 12px;
  }
  
  .name{
      margin-top: -20px !important;
      font-weight: bold;
      font-size: 18px;
  }
  .btn{
      font-size: 15px;
      margin-top: -15px;
      border: none;
    
  }
  
  section{
    padding-right: 10px;
    height: 520px !important;
    overflow-y: scroll;
    overflow-x: hidden;
     /* Show scrollbars */
  }
  
  .heart{
    text-align: right;
    padding-right: 35px;
  }
  .img_heart{
    margin-top: -420px;
    text-align: right !important;
   }
  
  }
  
  @media screen and (max-width: 1500px) and (min-width:1331px) {
    
    .heart{
        text-align: right;
        padding-right: 35px;
      }
      .img_heart{
        margin-top: -400px;
        text-align: right !important;
       }
      

    .column {
   
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       
    }
  
    .container{
      margin-left: -50px;
      width: 1000px !important;
      height: 200px !important;
  
  } 
  
  .pokemom{
      width: 160px;
      height: 130px;
      padding: 10px;
      border-radius:10px ;
     
      text-align: center;
      background-color: #F2F2F2 !important;
     
      img{
         height: 110px;
      }
  }
  .list{
      margin-bottom: 50px;
  }
  .number{
      color:#c7c6c6;
      font-size: 10px;
  }
  
  .name{
      margin-top: -20px !important;
      font-weight: bold;
  }
  .btn{
      font-size: 12px;
      margin-top: -15px;
      color: black;
      border: none;
      background-color: #78C84F;
  }
  
  section{
    padding-right: 10px;
    height: 500px !important;
    overflow-y: scroll;
    overflow-x: hidden;
     /* Show scrollbars */
  }
  
  }
  
  @media screen and (max-width: 1330px) and (min-width:1100px) {
  
    .heart{
        text-align: right;
        padding-right: 25px;
      }
      .img_heart{
        margin-top: -410px;
        text-align: right !important;
       }
      

    .column {
   
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       
    }
  
    .container{
      margin-left: -50px;
      width: 800px !important;
      height: 200px !important;
  
  } 
  
  .pokemom{
      width: 130px;
      height: 130px;
      padding: 10px;
      border-radius:10px ;
     
      text-align: center;
      background-color: #F2F2F2 !important;
     
      img{
         height: 100px;
      }
  }
  .list{
      margin-bottom: 50px;
  }
  .number{
      color:#c7c6c6;
      font-size: 10px;
  }
  
  .name{
      margin-top: -20px !important;
      font-weight: bold;
  }
  .btn{
      font-size: 12px;
      margin-top: -15px;
      color: black;
      border: none;
      background-color: #78C84F;
  }
  
  section{
    padding-right: 10px;
    height: 500px !important;
    overflow-y: scroll;
    overflow-x: hidden;
     /* Show scrollbars */
  }
  
  
  }