
<!-- Top Black-->
<nav   class="navbar navbar-dark bg-dark">
    <div class="container-top">

      </div>
  </nav>


  <!-- Topo Logo-->


<div class = "top_logo">

 <div class = "container pc_tablet">

    <div class="row top_large">
        <div class = "col-10">
            <div class = "row">
                <div class="col">
                    <img class = "logo_pokeball" src = "../../../assets/images/pokeball.svg">
                </div>
                
                <div class = "col pokedex pc-tablet">
                    <h2>Pokédex</h2>
                </div>
                <div class = "col-9 pokedex mobile">
                    <h2>Pokédex</h2>
                </div>
                <div class = "col-9">
                    
                </div>
            </div>
        </div>


        <div class = "col synvia_mobile">
            <div class = "row">
                <div class="col ">
                    <img class = "img_synvia" src = "../../../assets/images/synvia-A.svg">
                </div>
                <div class = "col">
                    <img class = "exit" src = "../../../assets/images/sign-out-alt-solid.svg">
                </div>
            </div>
        </div>

    </div>

    

