
.container-top{
    height: 20px;
    
}

@media screen and  (min-width:1401px)  {
    .row{
        margin-left: 30px;
    }
    .mobile{
        display: none;
    }
    
    .pokedex{
        margin-left: -80px !important;
    }
    .img_synvia{
        text-align: right !important;
        margin-left:30px !important;
        margin-right: -60px  !important;;
   }
  }

@media screen and (max-width: 1400px) and (min-width:1331px) {
    .top_large{
        margin-left: 30px;
        width: 1250px !important;
    }
    .mobile{
        display: none;
    }
   
    .img_synvia{
        text-align: right !important;
        margin-left:30px !important;
        margin-right: -30px  !important;;
   }

   .pokedex{
    margin-left: -80px !important;
}
   .exit{
    padding-top: 10px;
    margin-left: -20px; 
     }  

  }

  @media screen and (max-width: 1330px) and (min-width:1201px) {
      .mobile{
          display: none;
      }
      .top_large{
        margin-left: 30px;
        width: 1050px !important;
    }
    
    h2{
        color: white;
        font-weight: bold;
        
    }
    .img_synvia{
        text-align: right !important;
        margin-left:30px !important;
        margin-right: -60px  !important;;
   }
   
  }

  @media screen and (max-width: 1200px) and (min-width:1101px) {

    .mobile{
        display: none;
    }
    .top_large{
      margin-left: 30px;
      width: 1000px !important;
  }
  
  h2{
      color: white;
      font-weight: bold;
      
  }
  .img_synvia{
    text-align: right !important;
    margin-left:30px !important;
    margin-right: -60px  !important;;
}

 

  }

  @media screen and (max-width: 1100px) and (min-width:1001px) {

    
    .mobile{
        display: none;
    }
    .top_large{
      margin-left: 30px;
      width: 880px !important;
  }
  
  h2{
      color: white;
      font-weight: bold;
      
  }

  .img_synvia{
    text-align: right !important;
    margin-left:20px !important;
    margin-right: -60px  !important;;
}

  }
 
  
@media screen and (max-width: 1000px) and (min-width:769px) {
    .img_synvia{
     
        margin-left:0px !important;
        margin-right: -60px  !important;;
   }
   .mobile{
    display: none;
}
}
  
@media screen and (max-width: 768px) and (min-width:551px){
    .img_synvia{
        height: 35px;
        margin-left:0px !important;
        margin-right: -60px  !important;;
   }
   .mobile{
    display: none;
}

}

@media screen and (max-width: 550px) {
    .img_synvia{
        height: 35px;
         margin-right: -20px !important;
     
   }
   .synvia_mobile{
      margin-left:-40px !important;
   }

   .pokedex{
       margin-top: 10px;
       margin-left: -25px !important;;
   }

   .pc-tablet{
       display: none;
   }

   .logo_pokeball{
       margin-right: -40px !important;
   }


}

.top_logo{
   
    h2{
        color: white;
        font-weight: bold;
        margin-left: -20px  !important;
    }
    .exit{
        padding-top: 10px;

    }
   
    

    background-color:#E2350D;
    padding:20px;
 
}

